
<section class="HomeVideoSect">
  <div class="container-fluid">
     <div class="row"><div class="col-xs-12">
      <h1>Jan 01 - What is Taal?</h1>
		 </div>
	  </div>
     
      <div class="row">
      <div class="col-lg-10 col-md-9 col-sm-8">
      <div class="HomeVideoLeft">


          <!-- Modal content-->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Taal</h4>
              </div>
              <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
   <!-- Modal content-->



        <div class="VideoListing dropdown" id="vList">

          <div class="VideoAllList">
            <div class="VideoSignleList ViewedVideo">
              <a class="head" href="#">
                <h4>Topic Name</h4>
                <h6>0:43 min</h6>
                <i class="fa fa-play" aria-hidden="true"></i>
              </a><!-- end of head -->
              <ul>
                <li class="ViewedVideo"><a href=""><strong>Sub-topic name</strong><em>0:13 min</em></a></li>
                <li><a href=""><strong>Sub-topic name</strong><em>0:20 min</em></a></li>
                <li><a href=""><strong>Sub-topic name</strong><em>0:20 min</em></a></li>
              </ul>
            </div><!-- end of Video Signal list -->

            <div class="VideoSignleList active">
              <a class="head" href="#">
                <h4>Topic Name</h4>
                <h6>0:43 min</h6>
                <i class="fa fa-play" aria-hidden="true"></i>
              </a><!-- end of head -->
              <ul>
                <li><a href=""><strong>Sub-topic name</strong><em>0:13 min</em></a></li>
                <li><a href=""><strong>Sub-topic name</strong><em>0:20 min</em></a></li>
                <li><a href=""><strong>Sub-topic name</strong><em>0:20 min</em></a></li>
              </ul>
            </div><!-- end of Video Signal list -->

            <div class="VideoSignleList">
              <a class="head" href="#">
                <h4>Topic Name</h4>
                <h6>0:43 min</h6>
                <i class="fa fa-play" aria-hidden="true"></i>
              </a><!-- end of head -->
              <ul>
                <li><a href=""><strong>Sub-topic name</strong><em>0:13 min</em></a></li>
                <li><a href=""><strong>Sub-topic name</strong><em>0:20 min</em></a></li>
                <li><a href=""><strong>Sub-topic name</strong><em>0:20 min</em></a></li>
              </ul>
            </div><!-- end of Video Signal list -->            
          </div><!-- end of video all list -->
          
          <a href="#vList"  data-toggle="dropdown" class="RightBarArrow"><i class="fa fa-chevron-left"></i> <i class="fa fa-chevron-right"></i></a>
        </div><!-- end of Video listing -->
        <div class="MainVideo">
          <div data-vimeo-url="https://player.vimeo.com/video/201109202?autoplay=1" id="videoPlayer" class="videoWrapper"></div>
        </div><!-- end of Main Video -->
      </div>
	  </div>
      <!-- end of Home Video left -->

     
     <div class="col-lg-2 col-md-3 col-sm-4">
      <div class="VideoTag">
        <div class="tabs">
         <h2>Word List</h2>
         <ul class="nav nav-tabs">
          <li><a href="#Taal" data-toggle="modal" data-target="#myModal" data-backdrop="false">Taal</a></li>
          <li><a href="#Taali" data-toggle="modal" data-target="#myModal" data-backdrop="false">Taali</a></li>
          <li><a href="#Avantran" data-toggle="modal" data-target="#myModal" data-backdrop="false">Avantran</a></li>
          <li><a href="#Taal" data-toggle="modal" data-target="#myModal" data-backdrop="false">Taaal</a></li>
          <li><a href="#Khaali" data-toggle="modal" data-target="#myModal" data-backdrop="false">Khaali</a></li>
        </ul>
		  </div>
        <div class="tab-content" style="display:none;">
          <div role="tabpanel" class="tab-pane " id="Taal">
            <h3>Taal</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
          <div role="tabpanel" class="tab-pane" id="Taali">
            <h3>Taali</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
          <div role="tabpanel" class="tab-pane" id="Avantran">
            <h3>Avantran</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
          <div role="tabpanel" class="tab-pane" id="Taaal">
            <h3>Taaal</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
          <div role="tabpanel" class="tab-pane" id="Khaali">
            <h3>Khaali</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
        </div>   
      </div><!-- end of video tag --> 
	  </div>
	  </div>
  </div>
</section><!-- end of home Video -->
<script> 
    var newVideoPlayer = new Vimeo.Player('videoPlayer');
    	newVideoPlayer.on('play', function() {
    });

var flag = true;
	
$('body').on('click', function (e) {
	if (!$('.dropdown').is(e.target) && $('.dropdown').has(e.target).length === 0 && $('.open').has(e.target).length === 0
		&& !$('.VideoTag .tabs li').is(e.target) && $('.VideoTag .tabs li').has(e.target).length === 0 
	) {
		newVideoPlayer.play();
		flag = true;
	}
	
});
	
	var videoFunc = function(){
		if(flag == true){
		newVideoPlayer.pause();
		flag = false;
	}
	else if(flag == false){
		newVideoPlayer.play();
		flag = true;
	}
		}
	
$( ".RightBarArrow" ).click(function() {
	videoFunc();
});
		
	
	$('.VideoTag .tabs li').click(function(e){
		newVideoPlayer.pause();
		flag = true;
		
		e.preventDefault();
		var showElem = $(this).find('a').attr('href');
		$('.VideoTag .tabs li').removeClass('active');
		$(this).addClass('active');
		$('.VideoTag .tab-pane').removeClass('active')
		$(showElem).addClass('active');
	})
	
	$(window).on('mousewheel DOMMouseScroll', function (e) {
		var direction = (function () {
			var delta = (e.type === 'DOMMouseScroll' ? e.originalEvent.detail * -40 : e.originalEvent.wheelDelta); return delta > 0 ? 0 : 1;
		}());
		if(direction === 1) {
		   if($(window).scrollTop() + $(window).height() > ($(document).height() - 550)) {
			   $(".TopArrowFixed").addClass("fixed");
		   }
		}
		if(direction === 0) {
		   if($(window).scrollTop() + $(window).height() < ($(document).height() - 130)) {
			   $(".TopArrowFixed").removeClass("fixed");
		   }
		}
	});
	
	$('.TopArrowFixed').on('click', function(){
		$("html,body").animate({scrollTop:0},1000);
	})
	
	
</script>
