
<footer>
  <div class="container-fluid">
    <div class="FooterLogo">
       <a href="javascript:void();"><img src="/../public/images/logo.png" alt=""/></a>
       <p>© 2017 eklavya.com</p>  
    </div><!-- end of footer Logo -->
    <div class="FooterMenuSocail">
      <div class="NormalNav">                            
        <ul>
          <li><a href="">About Us</a></li>
          <li><a href="">Our Courses</a></li>
          <li><a href="">Your Queries </a></li>
          <li><a href="">Contact Us </a></li>
          <li><a href="">My Lessons</a></li>
        </ul>  
      </div><!-- end of Normal Nav -->
      <div class="soialFooter">
         <ul>
            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
         </ul>
      </div>
    </div><!-- end of footer Menu Scial-->

    <p class="addFooter"><span class="title">The Eklavya</span>36, Sector 18, Gurgaon<br>Tel: +91 99999 99999</p>
    <a href="javascript:void(0)" class="TopArrowFixed"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
  </div>
</footer>
